@model List<StreetFighter.Dominio.Personagem>

@{
    ViewBag.Title = "Lista de Personagens";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<ul class="nav nav-pills">
    <li role="presentation" class="active"><a href="~/StreetFighter/Cadastro">Novo Cadastro</a></li>
</ul>

@using (Html.BeginForm("ListaPersonagem","StreetFighter", FormMethod.Get))
{
   <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Digite sua pesquisa..." name="filtro">
        </div>
        <button type="submit" class="btn btn-default">Pesquisar</button>
    </form>
}

<div class="list-group">
    @if (Model == null)
    {
        <p id="sem-personagens">@ViewBag.ListaVazia</p>
    }
    else
    {
        <h3 id="lista-personagens">Personagens Cadastrados: </h3>
        foreach (var personagem in Model)
        {
            <a href="~/StreetFighter/FichaTecnica?Id=@(personagem.Id)" class="list-group-item">@(personagem.Nome)</a>
        }
    }
</div>
