
@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <title>@ViewBag.Title</title>
    <meta charset="UTF-8">
    <link rel="icon" href="http://www.gsarchives.net/gameboyadvance/super_street_fighter_2_turbo_revival/sprites/non-animated/chunli_icon.gif" type="image/x-icon" />
    <link rel="shortcut icon" href="http://www.gsarchives.net/gameboyadvance/super_street_fighter_2_turbo_revival/sprites/non-animated/chunli_icon.gif" type="image/x-icon" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Content/estilo-site.css">
</head>

<body>

    <div class="menu">
        <ul>
            <li><a href="~/StreetFighter/Index">Início</a></li>
            <li><a href="~/StreetFighter/ListaPersonagem">Lista De Personagens</a></li>
            <li><a href="~/StreetFighter/Sobre">Sobre</a></li>
        </ul>
    </div>

    
    <div id="titulo">
        @ViewBag.Title    
    </div>
        <div id="conteudo">
            @RenderBody()
        </div>

</body>



</html>

